* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: arial;
	font-size: 16px;
	line-spacing: 1.4;

}

.container {
	width: 1300px;
	margin: auto;
}

.slider {
	width: 100%;
	height: 700px;
	background-color: #fcdb00;
	overflow: hidden;
}

.header-left {
	width: 500px;
	float: left;
}

.images {
	width: 36px;
	float: left;
	padding: 13px;
	margin-top: 17px;
}

.header-top {
	width: 100%;
	height: 100px;
}

.tin {
	margin-top: 38px;
	margin-left: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 60px;
}

.container {
	width: 1000px;
	height: auto;
}

.heade-right {
	float: right;
	width: 500px;
}

.header-right ul {
	float: right;
	list-style: none;
	margin-top: 38px;
	margin-right: 13px;
}

.header-right ul li {
	float: left;
}

.header-right ul li a {
	text-decoration: none;
	font-weight: bold;
	margin: 20px;
	color: black;
	transition: 0.4s ease-in-out;
}

.header-right ul li a:hover {
	color: red;
}

.slidercon {
	width: 500px;
	height: 400px;
	float: left;
	margin-top: 50px;


}

.sliderimg {
	width: 400px;
	height: 400px;
	float: right;
}

.sliderimg img {
	width: 270px;
	float: right;
	margin-top: 67px;
	margin-right: 71px;
}

#your {
	font-size: 43px;
	font-weight: bold;
	padding-top: 88px;
}

#simple {
	margin-top: 20px;
	font-size: 23px;
}

#para {
	margin-top: 20px;
	line-height: 1.3;
}

.photoicon img {
	padding: 15px;
}

#hdl {
	text-align: center;
	margin-top: 30px;
	font-size: 35px;
	padding-top: 70px;
}

#hll {
	text-align: center;
	margin-top: 20px;
}

.box {
	width: 286px;
	height: 130px;
	display: inline-block;
	margin-left: 50px;
	float: left;
}

.icn {
	float: left;
}

.icn img {
	width: px;
}

.ctn {
	float: right;
}

#ipsum {
	margin-top: 15px;
}

.box2 {
	display: inline;
	width: 286px;
	height: 130px;
	float: left;
	margin-left: 30px;
}

.box3 {
	display: inline;
	width: 286px;
	height: 130px;
	float: left;
	margin-left: 40px
}

.category {
	margin-top: 80px;
	display: block;
	width: 100%;
	height: 180px;
}

.category2 {
	margin-top: 0px;
	width: 100%;
	height: 180px;

}

.tuch {
	text-align: center;
}

#yel {
	font-size: 35px;
	color: #fcdb00;
}

#bl {
	width: 100%;
	height: 340px;
	background-color: black;
	padding-top: 100px;
}

#elit {
	color: #717171;
	margin-top: 10px;
	font-size: 18px;
	padding-bottom: 33px;
}

.text {
	padding: 18px 27px;
	padding-right: 240px;
	float: left;
	font-size: 16px;
	font-weight: Bold;
	margin-left: 227px;
	border-radius: 10px;
}

.submit {
	padding: 18px 13px;
	padding-right: 24px;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
	border-radius: 10px;
	background-color: #fcdb00;
}

.ds {
	display: block;
	overflow: hidden;
}

.footericon {
	margin-top: 25px;
	margin-left: 383px;
}

.footericon img {
	padding: 10px;
}

.footer {
	width: 100%;
	height: 300px;
	background: #000000;
	color: #ffff;
}

.footerbox {
	width: 200px;
	height: 150px;

	margin-left: 100px;
	float: left;
	display: inline-block;
	margin-left: 230px;
}

.footerbox2 {
	width: 170px;
	height: 150px;
	margin-left: 80px;

	float: left;
	display: inline-block;
}

.footerbox3 {
	width: 170px;
	height: 150px;


	float: left;
	display: inline-block;
}

.footerbox4 {
	width: 170px;
	height: 150px;


	float: left;
	display: inline-block;
}

.footerbox5 {
	width: 170px;
	height: 150px;


	float: left;
	display: inline-block;
}

.footer a {
	text-decoration: none;
	color: #ffff;

}